.contenedor {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  font-size: 2em;
  padding: 5px;
}
.numero {
  position: fixed;
  bottom: 20px;
  font-size: 4em;
}
